* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh; /* Garante que o body ocupe ao menos a altura da janela */
  margin: 0; /* Remove margens padrão */
  background-color: var(--background-web);
}

.login__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
  max-width: 600px;

  padding: 20px;
}

.logo {
  max-width: 80px;
  margin: 30px auto; /* Centraliza horizontalmente e adiciona margem ao redor */
}

h1 {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark);
  margin-bottom: 20px;
}

.email-sent-message {
  font-size: 14px;
  color: var(--dark-100);
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 5px;

  position: relative;
}

label {
  font-size: 14px;
  color: var(--dark-100);

  margin-bottom: 3px;
}

.form__group input {
  font-size: 16px;
  color: var(--dark-100);

  width: 100%;

  border: 1px solid var(--gray-300);
  border-radius: 5px;

  background-color: transparent;

  padding: 12px;

  margin-bottom: 8px;

  outline: none;

  transition: border-color 0.3s ease;
}

.form__group input::placeholder {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #9e9e9e !important;

  opacity: 1;
}

.form__group input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px #f7f9fa inset !important;
  color: inherit !important;
}

.form button {
  font-size: 16px;
  font-weight: 600;
  color: var(--gray-100);

  background-color: var(--blue-500);

  border: none;
  border-radius: 5px;

  margin-top: 15px;

  padding: 12px;

  transition: background-color 0.3s;
  cursor: pointer;
}

.form button:hover {
  background-color: var(--blue-300);
}

.form button:disabled {
  background-color: var(--gray-400);

  cursor: not-allowed;
}

.form button:disabled:hover {
  background-color: var(--gray-400);
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 600;
  color: var(--gray-300);

  width: 100%;

  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;

  height: 1px;

  background: var(--gray-100);

  margin: 0 10px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  color: var(--dark-100);
  font-size: 14px;

  width: 100%;
  text-align: center;
}

.links a {
  color: var(--blue-500);
  text-decoration: none;
  font-weight: 600;
}

.links a:hover {
  text-decoration: underline;
}

.verification__message {
  font-size: 16px;
  color: var(--dark-100);
}

.verification__message span {
  font-weight: 600;
  color: var(--dark);
}

.verification-group {
  display: flex;
  flex-direction: column;
  margin-top: 15px; /* Espaço entre os campos */
}

.verification-input-group {
  display: flex;
  align-items: baseline;

  gap: 8px;
}

.verification-input-group input {
  width: 200px; /* Define um tamanho fixo para o input */
  padding: 0 10px; /* Padding horizontal */
  font-size: 14px;
  height: 40px; /* Altura consistente */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Inclui padding e bordas */
}

.verification-input-group button {
  height: 40px; /* Altura igual ao input */
  padding: 0 16px; /* Padding horizontal */
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: var(--blue-500);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center; /* Centraliza o texto verticalmente */
  justify-content: center; /* Centraliza o texto horizontalmente */
  transition: background-color 0.3s;
}

.verification-input-group button:disabled {
  background-color: var(--gray-400);
  cursor: not-allowed;
}

.verification-input-group button:disabled:hover {
  background-color: var(--gray-400);
}

.verification-input-group button:hover {
  background-color: var(--blue-300);
}

.password-container {
  position: relative;
  width: 100%;
}

.new__password {
  font-size: 14px;
  color: var(--dark-100);
  width: 100%;
  border: 1px solid var(--gray-300);
  border-radius: 5px;
  background-color: transparent;
  padding: 12px;
  padding-right: 35px; /* Espaço para o ícone */
  margin-bottom: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.confirm__password {
  font-size: 16px;
  color: var(--dark-100);
  width: 100%;
  border: 1px solid var(--gray-300);
  border-radius: 5px;
  background-color: transparent;
  padding: 12px;
  padding-right: 35px; /* Espaço para o ícone */
  margin-bottom: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.eye-icon {
  position: absolute;
  right: 10px; /* Distância do lado direito */
  top: 50%;
  transform: translateY(-50%); /* Centraliza o ícone verticalmente */
  cursor: pointer;
  z-index: 1;
}

.eye-icon img {
  width: 20px; /* Tamanho do ícone */
  height: 20px;
}

.new__password,
.confirm__password {
  font-size: 16px;
  color: var(--dark-100);

  width: 100%;

  border: 1px solid var(--gray-300);
  border-radius: 5px;

  background-color: transparent;

  padding: 12px;

  margin-bottom: 8px;
  margin-top: 8px;

  outline: none;

  transition: border-color 0.3s ease;
}

.new__password::placeholder,
.confirm__password::placeholder {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #9e9e9e !important;

  opacity: 1;
}

@media (max-width: 768px) {
  .login__container {
    padding: 15px;
  }

  .form__group input,
  .form button {
    padding: 10px;
  }

  .divider {
    width: calc(100% - 40px);
  }

  .links {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  .login__container {
    width: 90%;

    padding: 10px;
  }

  .form__group input,
  .form button {
    padding: 8px;
  }

  .divider {
    width: calc(100% - 20px);
  }

  .links {
    gap: 10px;
    font-size: 12px;
  }
}
